@font-face {
  font-family: 'Avenir';
  src: url('../../assets/font/AvenirNextLTProRegular.otf') format(OpenType);
  src: url('../../assets/font/AvenirNextLTProRegular.otf') format(truetype);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('../../assets/font/AvenirNextLTProBold.otf') format(OpenType);
  src: url('../../assets/font/alternativefiles/AvenirNextLTProBold.ttf')
    format(truetype);
  font-weight: 700;
  font-style: normal;
}
