$desktop-width: 1280px;
$tablet-width: 768px;
$small-width: 320px;
$landscape-narrowHeight-width: 950px;

//********************
//colors
//********************
//*****Primary*****
$txt-color-1: #333;
$txt-color-2: #555;
$btn-bg-color: #e67e22;
$label-color: #afafaf;
$bg-color: #fdf2e9;
$cta-btn-color: #45260a;
//*****Secondry****
$hov-color: #cf711f;
$divider-color: #e1e1e1;
$form-bg-color: #fafafa;
