@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/globals' as *;

.stepPage {
  &-span {
    display: block;
    font-size: 1.6rem;
    font-weight: 500;
    color: $hov-color;
    text-transform: uppercase;
    margin: 3rem 0 0 0;
    letter-spacing: 0.75px;
  }
  &-heading {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 9.6rem;
    @include tablet {
      font-size: 4.4rem;
    }
  }
}
.steps {
  display: flex;
  flex-direction: column;
  gap: 10rem;
  &__step {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    @include desktop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10rem;
    }
    &-text {
      &-no {
        font-size: 5rem;
        font-weight: 600;
        color: #ddd;
        margin-bottom: 1.2rem;
        @include tablet {
          font-size: 7rem;
        }
      }
      &-h {
        font-size: 2.4rem;
        line-height: 1.2;
        margin-bottom: 3.2rem;
        @include tablet {
          font-size: 3rem;
        }
      }
      &-p {
        font-size: 1.6rem;
        line-height: 1.8;
        @include tablet {
          font-size: 1.8rem;
        }
      }
    }
    &-imgbox {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      margin: auto;
      @include desktop {
        width: 100%;
      }
      &-column {
        grid-column: 1;
        grid-row: 1;
      }

      &::before,
      &::after {
        content: '';
        display: block;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &::before {
        width: 60%;
        padding-bottom: 60%;
        background-color: #fdf2e9;
        z-index: -2;
      }

      &::after {
        width: 45%;
        padding-bottom: 45%;
        background-color: #fae5d3;
        z-index: -1;
      }

      // padding: 0 10rem;
      &-img {
        width: 35%;
      }
    }
  }
}
